.about {
  position: relative;
  z-index: 7;

  color: #ffffff;

  background-color: $color-dark-blue;
  border-radius: 0 0 25px 25px;
}

.about__wraper {
  min-height: 352px;
  padding-top: 30px;
  padding-bottom: 42px;
  background-image: url("../../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top center;

  /* Временные стили */
  outline: 1px solid white;
}

.about__heading {
  margin: 0;
  margin-bottom: 17px;
  padding-left: 25px;

  /* Временные стили */
  outline: 1px solid white;
}

.about__text {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 30px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 300;

  /* Временные стили */
  outline: 1px solid white;

  &--bold {
    font-weight: 700;
  }
}

.about__btn {
  display: none;
}

@media (min-width: $tablet-width) {
  .about__wraper {
    display: flex;
    flex-direction: column;
    min-height: 920px;
    padding-top: 30px + 236px;
    padding-bottom: 88px;

    background-image: url("../../img/about-tablet@1x.png"),
      url("../../img/back");
    background-position: bottom 88px right 8px;
  }

  .about__heading {
    width: 360px;
    padding-left: 34px;
  }

  .about__text {
    width: 360px;
    padding-left: 34px;
  }

  .about__btn {
    display: block;
    width: 275px;
    margin-top: auto;
    margin-left: 34px;
  }
}

@media (min-width: $desktop-width) {
  .about__wraper {
    display: flex;
    flex-direction: column;
    min-height: 750px;
    padding-bottom: 163px;

    background-image: url("../../img/about-desktop@1x.png"),
      url("../../img/back");
    background-position: bottom right 87px;
  }

  .about__heading {
    width: 620px;
    padding-left: 70px;
  }

  .about__text {
    width: 620px;
    padding-left: 70px;
  }

  .about__btn {
    width: 275px;
    margin-top: auto;
    margin-left: 70px;
  }
}
