.about {
  position: relative;
  z-index: 6;

  margin-top: -240px;

  color: #ffffff;

  background-color: $color-dark-blue;
  border-radius: 0 0 25px 25px;
}

.about__container {
  padding-top: 313px;
  padding-bottom: 60px;

  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.about__description {
  padding-left: 25px;
  padding-right: 35px;
}

.about__heading {
  margin-bottom: 20px;
}

.about__text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 300;

  &--bold {
    font-weight: 700;
  }
}

.about__btn {
  display: none;
}

@media (min-width: $tablet-width) {
  .about {
    margin-top: 0;

    border-radius: 0 0 60px 60px;
  }

  .about__container {
    display: flex;
    flex-direction: column;
    min-height: 920px;
    padding-top: 278px;
    padding-bottom: 88px;

    background-image: url("../img/about-tablet@1x.png"),
      url("../img/back");
    background-position: bottom 88px right 8px;
  }

  .about__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding-left: 34px;
    padding-right: 0;
    width: 335px;
  }

  .about__heading {
    margin-bottom: 40px;

    font-size: 45px;
    line-height: 45px;
  }

  .about__text {
    margin-bottom: 31px;

    font-size: 28px;
    line-height: 33px;

    &--bold {
      font-size: 21px;
      line-height: 25px;
    }
  }

  .about__btn {
    display: block;
    width: 275px;
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .about__container {
    display: flex;
    flex-direction: column;
    min-height: 748px;
    padding-top: 130px;
    padding-bottom: 163px;

    background-image: url("../img/about-desktop@1x.png"),
      url("../img/back");
    background-position: bottom right 60px;
  }

  .about__description {
    width: 690px;
    padding-left: 72px;
  }

  .about__heading {
    margin-bottom: 58px;
  }

  .about__text {
    margin-bottom: 38px;

    &--bold {
      width: 465px;
    }
  }

  .about__btn {
    width: 275px;
  }
}
