.btn {
  display: block;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 9px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #161c35;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.15px;

  background-color: $color-yellow;
  border-radius: 25px;

  &--big {
    position: relative;

    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 56px;

    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    text-align: left;

    border-radius: 9px;
  }

  &--big::before {
    position: absolute;
    top: 50%;
    right: 23px;
    content: "";

    width: 0;
    height: 0;

    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent #1d2d5b;

    transform: translateY(-50%);
  }

  &:hover {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba($color-dark-blue, 0.3);
    background-color: #ffbd30;
  }
}

@media (min-width: $tablet-width) {
  .btn {
    font-size: 20px;

    &--big {
      padding-top: 31px;
      padding-bottom: 27px;
      padding-left: 33px;
      padding-right: 85px;

      font-size: 24px;
      line-height: 24px;

      border-radius: 23px;
    }

    &--big::before {
      right: 36px;
    }
  }
}

@media (min-width: $desktop-width) {
  .btn {
    &--big {
      width: auto;
      min-width: 275px;
    }
  }
}
