.catalog-profile-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 76px;

  background-color: #ffffff;
  border-radius: 19px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);
  }

  &:hover .catalog-profile-card__userpic-img {
    transform: scale(1.15);
  }
}

/* Контейнеры и обертки */

.catalog-profile-card__column-1 {
  display: flex;
  flex-direction: column;
}

.catalog-profile-card__row-1 {
  margin-bottom: 18px;
}

.catalog-profile-card__column-2 {
  width: 100%;
}

.catalog-profile-card__row-2 {
  display: flex;
}

.catalog-profile-card__transport-wrapper {
  width: 196px;
}

.catalog-profile-card__level-wrapper {
  width: 74px;
}

/* Юзерпик */

.catalog-profile-card__userpic-link {
  position: absolute;
  top: 15px;
  left: 18px;

  border-radius: 50%;
  overflow: hidden;
}

.catalog-profile-card__userpic-picture {
  display: block;
  line-height: 0;
}

.catalog-profile-card__userpic-img {
  border-radius: 50%;

  transition: transform 0.1s;
}

/* Имя пользователя */

.catalog-profile-card__name-link {
  display: block;
  width: 80px;
  margin-bottom: 6px;
  margin-left: 85px + 20px;
}

.catalog-profile-card__name {
  display: block;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #1d2e5b;

  &:hover {
    color: rgba(#1d2e5b, 0.6);
  }

  &:active {
    color: rgba(#1d2e5b, 0.3);
  }
}

.catalog-profile-card__status {
  position: absolute;
  top: 23px;
  right: 22px;

  width: 6px;
  height: 6px;

  border-radius: 50%;

  &--online {
    background-color: #81e31e;
  }

  &--offline {
    background-color: #f97676;
  }
}

/* Кнопка и лайки */

.catalog-profile-card__btn {
  position: absolute;
  bottom: 22px;
  left: 50%;

  width: 230px;

  transform: translateX(-50%);
}

.catalog-profile-card__like-counter {
  margin-left: 85px + 19px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #161c35;
  text-transform: uppercase;
}

.catalog-profile-card__like-btn {
  position: absolute;
  top: 54px;
  left: 67px;
  z-index: 1;

  width: 31px;
  height: 31px;

  border-radius: 50%;

  background-color: #edeff6;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 2;

    width: 31px;
    height: 31px;

    border-radius: 50%;

    background-image: url("../img/heart.svg");
    background-size: 13px 11px;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.3;
  }

  &:hover::before {
    opacity: 0.5;
  }

  &:active::before {
    opacity: 0.1;
  }

  &--active {
    background-color: #f9eaea;
    opacity: 1;
  }

  &--active::before {
    background-image: url("../img/heart-active.svg");
    opacity: 1;
  }

  &--active:hover {
    background-color: #f9d8d8;
    opacity: 1;
  }

  &--active:hover::before {
    opacity: 1;
  }

  &--active:active {
    opacity: 1;
  }

  &--active:active::before {
    opacity: 0.3;
  }
}

/* Заголовки списков */

.catalog-profile-card__text {
  display: flex;
  align-items: center;
  margin: 0;

  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey;
  text-transform: lowercase;

  background-color: #ffffff;

  &::before,
  &::after {
    content: "";

    width: 14px;
    height: 1px;

    background-color: #edeff6;
  }

  &::before {
    margin-right: 12px;
  }

  &::after {
    flex-grow: 1;
    margin-left: 11px;
  }

  &--level {
    padding-left: 12px;
  }

  &--level::before {
    display: none;
  }
}

/* Список тегов */

.catalog-profile-card__tags-list {
  @include list-reset;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 205px;
  margin-bottom: 13px;
  padding-left: 25px;
}

.catalog-profile-card__tags-item {
  margin-right: 5px;

  line-height: 0;

  &:last-child {
    margin-right: 0;
  }
}

.catalog-profile-card__tags-link {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey;

  &:hover {
    color: rgba($color-grey, 0.6);
  }

  &:active {
    color: rgba($color-grey, 0.3);
  }
}

/* Список стран */

.catalog-profile-card__countries-list {
  @include list-reset;
  width: 100%;
  margin-bottom: 14px;
  padding-top: 17px;
  padding-left: 25px;
}

.catalog-profile-card__countries-item {
  display: block;
  margin-bottom: 10px;

  line-height: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog-profile-card__countries-link {
  position: relative;

  padding-top: 4px;
  padding-left: 40px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: $color-dark-blue;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 26px;
    height: 18px;

    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--sri-lanka::before {
    background-image: url("../img/flag-sri-lanka.svg");
  }

  &--thailand::before {
    background-image: url("../img/flag-thailand.svg");
  }

  &--seychelles::before {
    background-image: url("../img/flag-seychelles.svg");
  }

  &--belgium::before {
    background-image: url("../img/flag-belgium.svg");
  }

  &--czech::before {
    background-image: url("../img/flag-czech.svg");
  }

  &--usa::before {
    background-image: url("../img/flag-usa.svg");
  }

  &--australia::before {
    background-image: url("../img/flag-australia.svg");
  }

  &--dominica::before {
    background-image: url("../img/flag-dominica.svg");
  }

  &--united-kingdom::before {
    background-image: url("../img/flag-united-kingdom.svg");
  }

  &--germany::before {
    background-image: url("../img/flag-germany.svg");
  }

  &:hover {
    color: rgba($color-dark-blue, 0.6);
  }

  &:active {
    color: rgba($color-dark-blue, 0.3);
  }
}

/* Список странспорта и уровень */

.catalog-profile-card__transport-list {
  @include list-reset;
  display: flex;
  padding-top: 14px;
  padding-left: 26px;
}

.catalog-profile-card__transport-item {
  position: relative;

  display: block;
  width: 32px;
  height: 32px;

  background-color: $color-light-grey;
  border-radius: 50%;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    border-radius: 50%;
    opacity: 0.15;
  }

  &--avia::before {
    background-image: url("../img/plane.svg");
    background-size: 14px 16px;
    background-position: 8px 8px;
  }

  &--auto::before {
    background-image: url("../img/bus.svg");
    background-size: 13px 16px;
    background-position: 9px 8px;
  }

  &--bike::before {
    background-image: url("../img/bike.svg");
    background-size: 19px 17px;
    background-position: 6px 8px;
  }

  &--tracking::before {
    background-image: url("../img/run.svg");
    background-size: 19px 17px;
    background-position: 6px 8px;
  }

  &--active::before {
    opacity: 1;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 50%;
    z-index: 2;

    display: none;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #101d41 transparent;

    transform: translateX(-50%);
  }

  &:hover::after {
    display: block;
  }

  &:hover .catalog-profile-card__transport-text {
    display: block;
  }
}

.catalog-profile-card__transport-text {
  position: absolute;
  top: 44px;
  left: -50%;
  z-index: 2;

  display: none;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 22px;
  padding-right: 22px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: white;

  background-color: #101d41;
  border-radius: 3px;

  transform: translateX(-50%) translateX(30px);
}

.catalog-profile-card__level {
  position: relative;

  width: 45px;
  height: 45px;
  margin-top: 7px;
  margin-left: 9px;
}

.catalog-profile-card__level-caption {
  position: absolute;
  top: 13px;
  left: 10px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #1d2e5b;
}

.catalog-profile-card__level-text {
  display: none;
}

.catalog-profile-card__level-icon {
  display: block;
  width: 45px;
  height: 45px;
  transform: rotate(-90deg);

  & circle {
    fill: none;

    stroke: #ff8d30;
    stroke-width: 2px;
  
    transform-origin: 50%;
  }

  &--99 circle{
    stroke-dasharray: 123px;
  }

  &--80 circle{
    stroke-dasharray: 107px;
  }

  &--25 circle{
    stroke-dasharray: 47px 135px;
  }

  &--50 circle{
    stroke-dasharray: 76px;
  }
}

@media (max-width: $mobile-only) {
  .catalog-profile-card__btn {
    padding-top: 6px;
    padding-bottom: 4px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-profile-card {
    flex-direction: row;
    min-height: 332px;
    margin-bottom: 40px;
    padding-top: 33px;
    padding-bottom: 104px;
  }

  /* Контейнеры и обертки */

  .catalog-profile-card__column-1 {
    align-items: flex-start;
    width: 260px;
    min-height: 190px;
  }

  .catalog-profile-card__row-1 {
    display: flex;
    align-items: center;
    order: 1;
    margin-bottom: 0;
  }

  .catalog-profile-card__column-2 {
    flex-direction: column;
    width: 60px;
    margin-left: auto;
    margin-right: 26px;
  }

  .catalog-profile-card__countries-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
  }

  .catalog-profile-card__row-2 {
    flex-direction: column;
  }

  .catalog-profile-card__transport-wrapper {
    width: 60px;
    margin-bottom: 7px;
  }

  .catalog-profile-card__level-wrapper {
    width: auto;
  }

  /* Юзерпик */

  .catalog-profile-card__userpic-link {
    position: static;

    margin-top: 2px;
    margin-left: 35px;
    margin-right: 29px;

    border-radius: 15px;
  }

  .catalog-profile-card__userpic-img {
    width: 190px;
    height: 190px;

    border-radius: 17px;
  }

  /* Имя пользователя */

  .catalog-profile-card__name-link {
    position: relative;

    display: block;
    width: auto;
    margin-bottom: 18px;
    margin-left: 4px;
  }

  .catalog-profile-card__name {
    font-size: 30px;
    line-height: 30px;
  }

  .catalog-profile-card__status {
    top: 11px;
    right: -30px;

    width: 7px;
    height: 7px;
  }

  /* Кнопка и лайки */

  .catalog-profile-card__btn {
    position: static;

    width: 150px;

    transform: none;
  }

  .catalog-profile-card__like-counter {
    margin-left: 0;

    font-size: 20px;
    line-height: 30px;
  }

  .catalog-profile-card__like-btn {
    position: relative;
    top: 0;
    left: 0;

    width: 50px;
    height: 50px;
    margin-right: 6px;

    &::before {
      width: 50px;
      height: 50px;

      background-size: 20px 17px;
    }
  }

  /* Заголовки списков */

  .catalog-profile-card__text {
    &::before {
      width: 71px;
    }

    &--transport {
      display: none;
    }

    &--level {
      display: none;
    }
  }

  /* Список тегов */

  .catalog-profile-card__tags-list {
    width: 100%;
    margin-bottom: 46px;
    padding-left: 7px;
  }

  .catalog-profile-card__tags-item {
    margin-right: 6px;
  }

  .catalog-profile-card__tags-link {
    font-size: 20px;
    line-height: 24px;
  }

  /* Список стран */

  .catalog-profile-card__countries-list {
    display: flex;
    margin-bottom: 0;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 35px;
  }

  .catalog-profile-card__countries-item {
    margin: 0;
    margin-right: 27px;

    &:last-child {
      margin-right: 0;
    }
  }

  .catalog-profile-card__countries-link {
    padding-left: 47px;

    font-size: 20px;
    line-height: 30px;

    &::before {
      width: 35px;
      height: 24px;
    }
  }

  /* Список транспорта и уровень */

  .catalog-profile-card__transport-list {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .catalog-profile-card__transport-item {
    background-color: transparent;

    &--avia::before {
      background-size: 19px 21px;
      background-position: 5px 5px;
    }

    &--auto::before {
      background-size: 17px 21px;
      background-position: 8px 5px;
    }

    &--bike::before {
      background-size: 24px 21px;
      background-position: 5px 3px;
    }

    &--tracking::before {
      background-size: 20px 21px;
      background-position: 7px 5px;
    }
  }

  .catalog-profile-card__level {
    width: 60px;
    height: 60px;
    margin: 0;
  }

  .catalog-profile-card__level-caption {
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    &::before {
      position: absolute;
      content: "";
      top: 21px;
      left: -3px;

      width: 31px;
      height: 1px;

      background-color: rgba(#000000, 0.1);
    }
  }

  .catalog-profile-card__level-text {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: rgba(#444444, 0.4);
  }

  .catalog-profile-card__level-icon {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-profile-card {
    position: relative;

    width: 950px;
    min-height: 285px;
    margin-bottom: 30px;
    padding: 0;

    &::before {
      position: absolute;
      content: "";
      top: 49px;
      bottom: 49px;
      right: 319px;

      width: 1px;

      background: linear-gradient(#fdfdfd 0%, #e6e6e6 50%, #fdfdfd 110%);
    }
  }

  /* Контейнеры и обертки */

  .catalog-profile-card__column-1 {
    margin-right: 70px;
    padding-top: 47px;
  }

  .catalog-profile-card__column-2 {
    display: flex;
    justify-content: space-between;
    width: 237px;
    min-height: 285px;
    margin: 0;
    padding-top: 49px;
    padding-bottom: 42px;
  }

  .catalog-profile-card__countries-wrapper {
    position: static;
    // margin-bottom: 30px;
  }

  .catalog-profile-card__row-2 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .catalog-profile-card__transport-wrapper {
    width: auto;
    margin: 0;
  }

  /* Юзерпик */

  .catalog-profile-card__userpic-link {
    margin: 0;
    margin-right: 55px;

    border-radius: 17px 0 0 17px;
  }

  .catalog-profile-card__userpic-img {
    width: 285px;
    height: 285px;

    border-radius: 17px 0 0 17px;
  }

  /* Имя пользователя */

  /* Кнопка и лайки */

  /* Заголовки списков */

  .catalog-profile-card__text--countries {
    display: none;
  }

  /* Список тегов */

  /* Список стран */

  .catalog-profile-card__countries-list {
    flex-direction: column;
    padding: 0;
    padding-left: 4px;
  }

  .catalog-profile-card__countries-item {
    margin: 0;
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .catalog-profile-card__countries-link {
    padding-left: 54px;
  }

  /* Список странспорта и уровень */

  .catalog-profile-card__transport-list {
    flex-direction: row;
  }
}
