.catalog-profile-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 415px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 17px;

  background-color: #ffffff;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog-profile-card__column-1 {
  display: flex;
  flex-direction: column;

  /* Временные стили */
  outline: 1px solid black;
}

.catalog-profile-card__row-1 {
  margin-bottom: 20px;

  /* Временные стили */
  outline: 1px solid black;
}

.catalog-profile-card__userpic-link {
  position: absolute;
  top: 15px;
  left: 18px;

  border-radius: 50%;
}

.catalog-profile-card__userpic-picture {
  display: block;
  line-height: 0;
}

.catalog-profile-card__userpic-img {
  border-radius: 50%;
}

.catalog-profile-card__btn {
  position: absolute;
  bottom: 17px;
  left: 50%;
  width: 230px;

  transform: translateX(-50%);
}

.catalog-profile-card__name-link {
  display: block;
  width: 80px;
  margin-left: 85px + 18px;
}

.catalog-profile-card__name {
  display: block;

  font-size: 20px;
  font-weight: 700;
  color: $color-dark-blue;
}

.catalog-profile-card__like-counter {
  margin-left: 85px + 18px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #161c35;
  text-transform: uppercase;
}

// // .catalog-profile-card__status {
// //   position: absolute;
// //   top: 28px;
// //   right: 22px;

// //   width: 4px;
// //   height: 4px;

// //   border-radius: 50%;

// //   &--online {
// //     background-color: #81e31e;
// //   }

// //   &--offline {
// //     background-color: #f97676;
// //   }
// // }

.catalog-profile-card__like-btn {
  position: absolute;
  top: 54px;
  left: 67px;
  z-index: 1;

  width: 31px;
  height: 31px;

  border-radius: 50%;

  /* Временные стили */
  background-color: $color-grey;
}

.catalog-profile-card__tags-list {
  @include list-reset;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 205px;
  margin-bottom: 20px;
  padding-left: 25px;
}

.catalog-profile-card__tags-item {
  margin-right: 3px;

  &:last-child {
    margin-right: 0;
  }
}

.catalog-profile-card__tags-link {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey;
}

.catalog-profile-card__column-2 {
  width: 100%;

  /* Временные стили */
  outline: 1px solid black;
}

.catalog-profile-card__row-2 {
  display: flex;
}

.catalog-profile-card__text {
  margin: 0;
  margin-left: 25px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey;

  background-color: #ffffff;
}

.catalog-profile-card__countries-list {
  @include list-reset;
  width: 100%;
  margin-bottom: 18px;
  padding-top: 20px;
  padding-left: 25px;

  border-top: 1px solid $color-light-grey;
}

.catalog-profile-card__countries-item {
  display: block;
  margin-bottom: 10px;

  line-height: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog-profile-card__countries-link {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 40px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: $color-dark-blue;
  text-transform: uppercase;
}

.catalog-profile-card__transport-list {
  @include list-reset;
  display: flex;
}

.catalog-profile-card__transport-item {
  display: block;
  width: 32px;
  height: 32px;

  background-color: $color-light-grey;
  border-radius: 50%;
}

.catalog-profile-card__level {
  width: 45px;
  height: 45px;

  background-color: $color-light-grey;
}

@media (min-width: $tablet-width) {
  .catalog-profile-card {
    flex-direction: row;
    min-height: 332px;
    padding-top: 35px;
    padding-bottom: 25px;
  }

  .catalog-profile-card__userpic-link {
    position: static;
    margin-left: 35px;
  }

  .catalog-profile-card__userpic-img {
    width: 190px;
    height: 190px;

    border-radius: 0;
  }

  .catalog-profile-card__column-1 {
    width: 260px;
    min-height: 190px;
  }

  .catalog-profile-card__row-1 {
    display: flex;
    align-items: center;
    order: 1;
  }

  .catalog-profile-card__name-link {
    display: block;
    width: auto;
    margin-left: 0;
  }

  .catalog-profile-card__name {
    display: block;

    font-size: 20px;
    font-weight: 700;
    color: $color-dark-blue;
  }

  .catalog-profile-card__btn {
    position: static;

    width: 150px;

    transform: none;
  }

  .catalog-profile-card__like-btn {
    position: static;

    width: 40px;
    height: 40px;
  }

  .catalog-profile-card__like-counter {
    margin-left: 0;
  }

  .catalog-profile-card__column-2 {
    flex-direction: column;
    width: 60px;
    margin-left: auto;
    margin-right: 35px;
  }

  .catalog-profile-card__countries-wraper {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
  }

  .catalog-profile-card__row-2 {
    flex-direction: column;
  }

  .catalog-profile-card__text {
    margin-left: 70px;

    &--transport {
      display: none;
    }

    &--level {
      display: none;
    }
  }

  .catalog-profile-card__countries-list {
    display: flex;
  }

  .catalog-profile-card__countries-list {

    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;

    border-top: 1px solid $color-light-grey;
  }

  .catalog-profile-card__countries-item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .catalog-profile-card__transport-list {
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .catalog-profile-card {
    width: 950px;
    min-height: 285px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .catalog-profile-card__userpic-img {
    width: 285px;
    height: 285px;
  }

  .catalog-profile-card__text--countries {
    display: none;
  }

  .catalog-profile-card__column-2 {
    width: auto;
  }

  .catalog-profile-card__countries-wraper {
    position: static;
  }

  .catalog-profile-card__row-2 {
    flex-direction: row;
  }

  .catalog-profile-card__countries-list {
    flex-direction: column;
  }

  .catalog-profile-card__transport-list {
    flex-direction: row;
  }
}
