.companions {
  position: relative;
  z-index: 4;

  margin-top: -25px;

  background-color: $color-dark-blue;

  border-radius: 0 0 25px 25px;
}

.companions__container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 98px;
  padding-bottom: 30px;

  background-image: url("../img/smolov-back-desktop@1x.png");
  background-size: 143px;
  background-repeat: no-repeat;
  background-position: top 64px right 25px;

  &::before {
    position: absolute;
    content: "";
    top: 63px;
    left: -20px;
    z-index: -1;

    width: 132px;
    height: 132px;

    background-color: #141b3b;
    border-radius: 18px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 336px;
    left: -10px;
    z-index: -1;

    width: 71px;
    height: 71px;

    background-image: url("../img/rogovaya-back-mobile@1x.png");
    background-size: 71px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/smolov-back-desktop@2x.png");

    &::after {
      background-image: url("../img/rogovaya-back-mobile@2x.png");
    }
  }
}

.companions__description {
  margin-bottom: 56px;
  padding-left: 25px;
  padding-right: 30px;
}

.companions__heading {
  margin-bottom: 18px;
}

.companions__text {
  margin: 0;
  margin-bottom: 21px;

  color: #ffffff;

  &--bold {
    font-weight: 700;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.companions__list {
  @include list-reset;
  margin-bottom: 20px;
}

.companions__show-more-link {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $color-dark-blue;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .companions {
    margin-top: -60px;

    border-radius: 0 0 60px 60px;
  }

  .companions__container {
    align-items: flex-start;
    padding-top: 201px;
    padding-bottom: 87px;
    padding-left: 40px + 35px;
    padding-right: 40px + 35px;

    background-position: top 486px left 40px;

    &::before {
      top: 140px;
      left: 40px;

      width: 213px;
      height: 213px;
    }

    &::after {
      top: 140px;
      left: auto;
      right: 75px;

      width: 285px;
      height: 285px;

      background-image: url("../img/rogovaya-back-desktop@1x.png");
      background-size: 285px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/rogovaya-back-desktop@2x.png");
      }
    }
  }

  .companions__description {
    width: 430px;
    margin-bottom: 57px;
    padding-left: 0;
    padding-right: 0;
  }

  .companions__heading {
    margin-bottom: 57px;
  }

  .companions__text {
    margin-bottom: 40px;

    &--bold {
      font-size: 21px;
      line-height: 25px;
    }
  }

  .companions__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 80px;
  }

  .companions__list-item {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .companions__container {
    position: relative;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 188px;
    padding-bottom: 133px;
    padding-left: 60px;
    padding-right: 60px;

    background-position: top 192px left 547px;

    &::before {
      top: 128px;
      left: 60px;
    }

    &::after {
      top: 444px;
      left: 191px;
      right: auto;
    }
  }

  .companions__description {
    width: 500px;
    padding-top: 0;
    padding-left: 70px;
    padding-right: 0;
  }

  .companions__list {
    width: 630px;
    margin-bottom: 0;
    padding-top: 4px;
  }

  .companions__btn {
    position: absolute;
    left: 60px + 70px;
    bottom: 133px;

    width: 280px;
  }
}
