.companions {
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: $color-dark-blue;
}

.companions__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companions__description {
  padding-top: 70px;
  padding-bottom: 35px;
  padding-left: 23px;
  padding-right: 30px;
}

.companions__heading {
  margin-bottom: 25px;
}

.companions__text {
  margin: 0;
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;

  &--bold {
    font-weight: 700;
  }
}

.companions__list {
  @include list-reset;
  margin-bottom: 20px;
}

.companions__show-more-link {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $color-dark-blue;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .companions {
    padding-top: 60px;
    padding-bottom: 88px;
  }

  .companions__container {
    align-items: flex-start;
    padding-left: 75px;
    padding-right: 75px;
  }

  .companions__description {
    padding-top: 140px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 190px;
  }

  .companions__heading {
    margin-bottom: 65px;
  }

  .companions__text {
    margin-bottom: 40px;
  }

  .companions__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 80px;
  }

  .companions__list-item {
    margin-bottom: 0;
  }

  .companions__btn {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .companions {
    padding-bottom: 134px;
  }

  .companions__container {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 133px;
  }

  .companions__description {
    width: 430px;
    padding-top: 0;
    padding-left: 70px;
    padding-right: 0;
  }

  .companions__list {
    width: 630px;
    margin-bottom: 0;
  }

  .companions__btn {
    position: absolute;
    left: 75px + 70px;
    bottom: 0;

    width: 280px;
  }
}
