.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;

  // /* Временные стили */
  // border: 1px solid black;
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1440px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
