.contacts__link {
  position: relative;

  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  font-style: normal;
  color: #ffd64b;
  text-transform: uppercase;

  &:hover .contacts__icon {
    fill: #ffbd30;
  }

  &:hover .contacts__text {
    color: #ffbd30;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__icon-wrapper {
  position: relative;

  flex-shrink: 0;
  width: 45px;
  height: 45px;
  margin-right: 15px;

  background-color: #121936;
  border-radius: 50%;
}

.contacts__icon {
  position: absolute;

  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;

  fill: #ffd74b;

  transform: translate(-50%, -50%);

  &--phone {
    width: 18px;
    height: 18px;
  }

  &--mail {
    width: 18px;
    height: 13px;
  }

  &--location {
    width: 14px;
    height: 22px;
  }
}

.contacts__text {
  font-weight: 700;
  color: #ffd74b;
}

@media (min-width: $tablet-width) {
  .contacts__icon-wrapper {
    width: 68px;
    height: 68px;
    margin-right: 23px;
  }

  .contacts__icon {
    width: 27px;
    height: 27px;
  }

  .contacts__text {
    font-size: 28px;
    line-height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__icon-wrapper {
    width: 90px;
    height: 90px;
    margin-right: 31px;
  }

  .contacts__icon {
    width: 36px;
    height: 36px;
  }

  .contacts__text {
    margin-top: 5px;
  }
}
