.copyright {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $color-grey;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;

  /* Временные стили */
  background-color: black;
}

@media (min-width: $tablet-width) {
  .copyright {
    font-size: 20px;
    line-height: 24px;
  }
}
