.country-filter {
  background-color: #e2e5f2;
  border-radius: 0 0 11px 11px;
}

.country-filter__container {
  position: relative;
  padding-top: 37px;
  padding-bottom: 13px;
}

.country-filter__heading {
  margin: 0;
  padding-left: 27px;

  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $color-dark-blue;

  background-image: url("../img/filter.svg");
  background-size: 15px 10px;
  background-repeat: no-repeat;
  background-position: top 5px left;
}

.country-filter__heading-colon {
  display: none;
}

.country-filter__toggle {
  position: absolute;
  top: 34px;
  right: 26px;

  width: 24px;
  height: 24px;

  font-size: 0;

  border: none;
  background-color: transparent;
  background-image: url("../img/dots.svg");
  background-size: 17px 3px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--opened {
    background-image: url("../img/filter-close.svg");
    background-size: 12px 12px;
  }

  &--opened .country-filter__toggle-text--opened {
    display: block;
  }

  &--opened .country-filter__toggle-text--closed {
    display: none;
  }

  &--no-js {
    display: none;
  }
}

.country-filter__toggle-text--opened {
  display: none;
}

.country-filter__dropdown {
  flex-direction: column;
  display: none;
  height: 695px;
  padding-top: 30px;
  padding-bottom: 13px;

  &--opened {
    display: flex;
  }

  &--no-js {
    display: block;
  }
}

.country-filter__mainland-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-left: 25px;
}

.country-filter__mainland-item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.country-filter__mainland-link {
  font-weight: 700;
  text-transform: uppercase;
  color: rgba($color-dark-blue, 0.3);

  &:hover {
    color: rgba($color-dark-blue, 0.6);
  }

  &:active,
  &--active {
    color: $color-dark-blue;
  }
}

.country-filter__alphabet-list {
  @include list-reset;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: auto;
  padding-left: 25px;
  padding-right: 24px;
}

.country-filter__alphabet-item {
  border: 1px solid #cbced9;
  border-collapse: collapse;
  margin-left: -1px;

  &:nth-child(1n+6) {
    margin-top: -1px;
  }

  &:nth-child(5n+1) {
    margin-left: 0;
  }

  &--active {
    position: relative;
    z-index: 1;

    border-color: #1d2e5b;
  }

  &--active .country-filter__alphabet-link {
    color: #ffffff;
    background-color: #1d2e5b;
  }

  &--active .country-filter__country-list {
    display: flex;
  }
}

.country-filter__alphabet-link {
  display: block;
  width: 43px;

  padding-top: 11px;
  padding-bottom: 11px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
  text-align: center;

  background-color: #ffffff;
}

.country-filter__country-list {
  @include list-reset;

  position: absolute;
  top: 217px;

  display: none;
  flex-direction: column;
  width: 220px;
}

.country-filter__country-link {
  font-weight: 400;
  color: #444444;
}

.country-filter__close-btn {
  position: relative;

  padding-top: 7px;
  padding-bottom: 4px;
  padding-left: 33px;

  background-color: #d6daed;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 85px;

    width: 12px;
    height: 12px;

    transform: translateY(-50%);
    background-image: url("../img/filter-close.svg");
  }

  &:hover {
    background-color: #c8cee8;
  }

  &:active {
    color: rgba($color-dark-blue, 0.3);

    background-color: #c8cee8;
  }

  &:active::before {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .country-filter {
    border-radius: 0 0 60px 60px;
  }

  .country-filter__container {
    padding-top: 60px;
    padding-bottom: 0;
    padding-left: 75px;
    padding-right: 75px;
  }

  .country-filter__heading {
    display: none;
  }

  .country-filter__toggle {
    top: 119px;
    right: 75px;
    z-index: 1;

    min-width: 176px;
    padding: 0;

    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: $color-dark-blue;
    text-align: left;
    text-transform: uppercase;

    background-size: 27px 5px;
    background-position: top 7px right;

    &--opened {
      background-size: 18px;
      background-position: top 1px right 3px;
    }
  }

  .country-filter__dropdown {
    position: relative;

    display: block;
    height: auto;
    padding-top: 53px;
    padding-bottom: 49px;

    &--opened {
      padding-bottom: 72px;
    }

    &--opened .country-filter__alphabet-list,
    &--opened .country-filter__alphabet-list--active .country-filter__country-list {
      display: flex;
    }

    &--opened .country-filter__mainland-list {
      margin-bottom: 57px;
    }

    &--opened .country-filter__close-btn {
      display: block;
    }
  }

  .country-filter__mainland-list {
    display: flex;
    flex-direction: row;
    max-width: 370px;
    margin-bottom: 0;
    padding-left: 0;
  }

  .country-filter__mainland-item {
    margin-bottom: 0;
    margin-right: 27px;
  }

  .country-filter__mainland-link {
    font-size: 20px;
    line-height: 24px;
  }

  .country-filter__alphabet-list {
    position: static;

    display: none;
    width: 365px;
    margin-bottom: 34px;
    margin-left: -5px;
    padding: 0;
  }

  .country-filter__alphabet-item {
    position: static;

    margin-bottom: 25px;
    margin-right: 35px;

    border: none;

    &:nth-child(5n+5) {
      margin-right: 0;
    }

    &--active .country-filter__alphabet-link {
      color: $color-dark-blue;

      background-color: transparent;
    }
  }

  .country-filter__alphabet-link {
    padding: 0;

    font-size: 60px;
    line-height: 60px;
    color: rgba($color-dark-blue, 0.2);

    background-color: transparent;
  }

  .country-filter__country-list {
    top: 139px;
    left: auto;
    right: 0;

    display: none;
    width: 176px;
  }

  .country-filter__country-item {
    line-height: 0;
  }

  .country-filter__country-link {
    font-size: 20px;
    line-height: 30px;
  }

  .country-filter__close-btn {
    display: none;
    padding-top: 37px;
    padding-bottom: 34px;
    padding-left: 43px;


    &::before {
      left: 243px;

      width: 18px;
      height: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .country-filter__container {
    padding-top: 113px;
    padding-bottom: 49px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .country-filter__heading {
    display: inline-block;
    padding-left: 63px;

    font-size: 20px;
    line-height: 24px;

    background-size: 23px 15px;
    background-position: top 2px left 20px;
  }

  .country-filter__heading-colon {
    display: inline;
  }

  .country-filter__toggle {
    right: 124px;
  }

  .country-filter__dropdown {
    padding: 0;

    &--opened {
      padding-top: 68px;
      padding-bottom: 103px - 49px;
    }
  }

  .country-filter__mainland-list {
    position: absolute;
    top: -33px;
    left: 345px;

    margin-bottom: 0;
  }

  .country-filter__alphabet-list {
    width: 100%;
    margin-bottom: 14px;
    padding-left: 38px;
  }

  .country-filter__alphabet-item {
    margin-right: 52px;
    margin-bottom: 52px;

    &:nth-last-child(-n+5) .country-filter__country-list {
      min-height: auto;
      margin-bottom: 0;
    }
  }

  .country-filter__alphabet-link {
    margin-bottom: 31px;
  }

  .country-filter__country-list {
    position: static;
    display: block;
    width: 200px;
    min-height: 300px;
    flex-shrink: 0;
    padding-left: 2px;
  }

  .country-filter__close-btn::before {
    left: 594px;
  }
}
