.country-filter {
  min-height: 52px + 20px;

  background-color: #e2e5f2;
  border-radius: 0 0 20px 20px;
}

@media (min-width: $tablet-width) {
  .country-filter {
    min-height: 136px + 60px;

    border-radius: 0 0 60px 60px;
  }
}
