.destinations {
  padding-top: 75px;
  padding-bottom: 30px;

  background-color: $color-light-grey;
}

.destinations__heading {
  padding-left: 25px;
}

.destinations__text {
  margin: 0;
  margin-bottom: 65px;
  padding-left: 25px;
  padding-right: 50px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: $color-grey;
}

.destinations__list {
  @include list-reset;
  margin-bottom: 25px;
}

.destinations__list-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .destinations__wraper {
    position: relative;

    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .destinations__wraper {
    flex-direction: row;
  }

  .destinations__description {
    order: 1;
    width: 345px;
  }

  .destinations__list {
    width: 558px;
    margin-bottom: 0;
    margin-right: 170px;
  }

  .destinations__btn {
    position: absolute;
    bottom: 0;
    left: 558px + 170px + 60px;
  }
}
