/* To-do: сделать фейд */

.destinations {
  position: relative;
  z-index: 5;

  margin-top: -25px;

  background-color: $color-light-grey;
  border-radius: 0 0 25px 25px;
}

.destinations__container {
  padding-top: 98px;
  padding-bottom: 30px;
}

.destinations__description {
  margin-bottom: 59px;
  padding-left: 25px;
  padding-right: 50px;
}

.destinations__heading {
  margin-bottom: 19px;
}

.destinations__text {
  margin: 0;
}

.destinations__list {
  @include list-reset;
  margin-bottom: 26px;
}

.destinations__list-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .destinations {
    margin-top: -60px;

    border-radius: 0 0 60px 60px;
  }

  .destinations__container {
    position: relative;

    display: flex;
    flex-direction: column;
    padding-top: 133px;
    padding-bottom: 80px;
    padding-left: 40px + 34px;
    padding-right: 40px + 34px;

    background-image: url("../img/flags-back@1x.png");
    background-size: 289px 575px;
    background-repeat: no-repeat;
    background-position: top 140px right 40px;

    &::before {
      position: absolute;
      content: "";
      top: 466px;
      left: 40px;
      z-index: -1;

      width: 141px;
      height: 141px;

      background-color: #e2e5f2;
      border-radius: 20px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }

  .destinations__description {
    width: 340px;
    margin-bottom: 105px;
    padding-left: 0;
    padding-right: 0;
  }

  .destinations__heading {
    margin-bottom: 58px;
  }

  .destinations__list {
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .destinations__container {
    flex-direction: row;
    padding-top: 221px;
    padding-bottom: 150px;
    padding-left: 60px + 72px;

    background-position: top 148px right 60px;

    &::before {
      top: 149px;
      left: 60px;
    }
  }

  .destinations__description {
    order: 1;
    margin-bottom: 0;
  }

  .destinations__wraper {
    flex-direction: row;
  }

  .destinations__list {
    width: 558px;
    margin-bottom: 0;

    margin-right: 171px;
  }

  .destinations__heading {
    padding-top: 5px;
  }

  .destinations__text {
    padding-right: 0;
  }

  .destinations__btn {
    position: absolute;
    bottom: 140px;
    left: 863px;
  }
}
