.index-profile-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  margin-bottom: 10px;
  padding-bottom: 15px;

  background-color: #ffffff;

  border-radius: 10px;
  transition: transform 1s;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);
  }

  &:hover .index-profile-card__userpic-img {
    transform: scale(1.15);
  }
}

.index-profile-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.index-profile-card__userpic-link {
  line-height: 0;

  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.index-profile-card__userpic-img {
  width: 270px;
  height: 270px;

  border-radius: 8px 8px 0 0;

  transition: transform 0.1s;
}

.index-profile-card__name {
  display: block;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: $color-dark-blue;
}

.index-profile-card__name-wrapper {
  position: relative;

  padding-top: 26px;
}

.index-profile-card__status {
  position: absolute;
  bottom: 9px;
  left: -16px;

  width: 5px;
  height: 5px;

  border-radius: 50%;

  &--online {
    background-color: #81e31e;
  }

  &--offline {
    background-color: #f97676;
  }
}

.index-profile-card__level {
  position: absolute;
  top: 16px;
  left: 16px;

  width: 60px;
  height: 60px;

  background-color: rgba(#000000, 0.6);
  border-radius: 50%;
}

.index-profile-card__level-caption {
  position: absolute;
  top: 33px;
  left: 50%;

  color: white;

  transform: translate(-50%, -50%);

  &::before {
    position: absolute;
    content: "";
    top: 22px;
    left: -2px;
    z-index: 10;

    width: 31px;
    height: 1px;

    background-color: rgba(#ffffff, 0.3);
  }
}

.index-profile-card__level-counter {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: white;
}

.index-profile-card__level-text {
  font-size: 14px;
  line-height: 14px;
}

.index-profile-card__level-icon {
  display: block;
  width: 60px;
  height: 60px;

  fill: none;

  stroke: #ff8d30;
  stroke-width: 2px;

  transform: rotate(-90deg);
  transform-origin: 50%;

  &--99 {
    stroke-dasharray: 180px;
  }

  &--80 {
    stroke-dasharray: 146px;
  }
}

.index-profile-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-profile-card__countries-list {
  @include list-reset;
  position: absolute;
  top: 270px - 24px/2;

  display: flex;
  flex-wrap: wrap;

  &--catalog {
    padding-left: 8px;
  }
}

.index-profile-card__countries-item {
  margin-right: 17px;

  &:last-child {
    margin-right: 0;
  }
}

.index-profile-card__countries-link {
  position: relative;

  display: block;
  width: 35px;
  height: 24px;

  background-size: 35px 24px;

  &--sri-lanka {
    background-image: url("../img/flag-sri-lanka.svg");
  }

  &--thailand {
    background-image: url("../img/flag-thailand.svg");
  }

  &--seychelles {
    background-image: url("../img/flag-seychelles.svg");
  }

  &--belgium {
    background-image: url("../img/flag-belgium.svg");
  }

  &--czech {
    background-image: url("../img/flag-czech.svg");
  }

  &::before {
    position: absolute;
    top: 35px;
    left: -50%;
    z-index: 2;

    display: none;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-left: 22px;
    padding-right: 22px;

    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: white;

    background-color: #101d41;
    border-radius: 3px;

    transform: translateX(-50%) translateX(35px);
  }

  &--sri-lanka::before {
    content: "Шри-Ланка";
  }

  &--thailand::before {
    content: "Тайланд";
  }

  &--seychelles::before {
    content: "Сейшелы";
  }

  &--belgium::before {
    content: "Бельгия";
  }

  &--czech::before {
    content: "Чехия";
  }

  &::after {
    position: absolute;
    content: "";
    top: 27px;
    left: 50%;
    z-index: 2;

    display: none;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #101d41 transparent;

    transform: translateX(-50%);
  }

  &:hover::before,
  &:hover::after {
    display: block;
  }
}

.index-profile-card__tags-list {
  @include list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 185px;
  margin-bottom: 12px;
}

.index-profile-card__tags-item {
  margin-right: 5px;

  line-height: 0;

  &:last-child {
    margin-right: 0;
  }
}

.index-profile-card__tags-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey;
}

.index-profile-card__transport-list {
  @include list-reset;
  display: flex;
}

.index-profile-card__transport-item {
  position: relative;

  width: 32px;
  height: 32px;
  margin-right: 3px;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    opacity: 0.15;
  }

  &--active::before {
    opacity: 1;
  }

  &--avia::before {
    background-image: url("../img/plane.svg");
    background-size: 19px 21px;
    background-position: 8px 4px;
  }

  &--auto::before {
    background-image: url("../img/bus.svg");
    background-size: 19px 21px;
    background-position: 8px 4px;
  }

  &--bike::before {
    background-image: url("../img/bike.svg");
    background-size: 24px 21px;
    background-position: 4px 4px;
  }

  &--tracking::before {
    background-image: url("../img/run.svg");
    background-size: 20px 21px;
    background-position: 4px 4px;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 50%;
    z-index: 2;

    display: none;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #101d41 transparent;

    transform: translateX(-50%);
  }

  &:hover::after {
    display: block;
  }

  &:hover .index-profile-card__transport-text {
    display: block;
  }
}

.index-profile-card__transport-text {
  position: absolute;
  top: 44px;
  left: -50%;
  z-index: 2;

  display: none;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 22px;
  padding-right: 22px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: white;

  background-color: #101d41;
  border-radius: 3px;

  transform: translateX(-50%) translateX(30px);
}

@media (min-width: $tablet-width) {
  .index-profile-card {
    width: 285px;
    margin-bottom: 0;
    padding-bottom: 25px;

    border-radius: 20px;
  }

  .index-profile-card__header {
    margin-bottom: 22px;
  }

  .index-profile-card__userpic-link {
    border-radius: 18px 18px 0 0;
  }

  .index-profile-card__userpic-img {
    width: 285px;
    height: 285px;

    border-radius: 18px 18px 0 0;
  }

  .index-profile-card__name-wrapper {
    padding-top: 32px;
  }

  .index-profile-card__status {
    bottom: 9px;
    left: -22px;

    width: 7px;
    height: 7px;
  }

  .index-profile-card__name {
    font-size: 24px;
    line-height: 24px;
  }

  .index-profile-card__level {
    top: 20px;
    left: 20px;
  }

  .index-profile-card__countries-list {
    top: 275px;
  }

  .index-profile-card__tags-list {
    width: 230px;
    margin-bottom: 18px;
  }

  .index-profile-card__tags-link {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .index-profile-card__level {
    top: 23px;
    left: 23px;
  }
}
