.inner-page__heading-wraper {
  background-color: $color-dark-blue;
}

.inner-page__heading {
  margin: 0 auto;
  width: 320px;
  padding-left: 25px;
  padding-right: 25px;

  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;

}
