.intro {
  position: relative;
  color: #ffffff;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-color: #161c36;
  background-size: 100% 405px;
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/globe-back-mobile@2x.jpg");
  }
}

.intro__slogan {
  display: block;
  min-height: 405px;
  padding-top: 21px;
  padding-left: 16px;
  padding-right: 16px;

  background-image: url("../img/traveller-illustration-mobile@1x.png");
  background-position: bottom right 25px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/traveller-illustration-mobile@2x.png");
    background-size: 192px 255px;
  }
}

.intro__menu {
  display: flex;
  min-height: 40px;
  margin-bottom: 7px;
}

.intro__contacts {
  display: flex;

  margin-top: -20px;
}

.intro__contacts-link {
  width: 40px;
  height: 40px;
  padding: 0;

  &:hover svg {
    fill: #161c35;
  }

  &:hover .intro__contacts-icon--phone {
    background-color: #f26926;
  }

  &:hover .intro__contacts-icon--email {
    background-color: #ff8d30;
  }

  &:active {
    opacity: 1;
  }

  &:active svg {
    opacity: 0.3;
  }

  &:active .intro__contacts-icon--phone{
    background-color: #f26926;
  }

  &:active .intro__contacts-icon--email {
    background-color: #ff8d30;
  }
}

.intro__contacts-icon {
  width: 40px;
  height: 40px;
  margin-right: 0;

  background-color: $color-yellow;

  &--phone {
    background-color: #ff8d30;
  }

  svg {
    fill: #161c35;
  }
}

.intro__user-list {
  @include list-reset;
  width: 100%;
  margin-top: -20px;
}

.intro__review {
  width: 180px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  padding-left: 25px;
}

.intro__steps-list {
  position: relative;
  z-index: 7;

  margin: 0 auto;
}

.intro__menu-btn {
  padding-top: 6px;
  padding-bottom: 4px;
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-color: #182044;
    background-size: auto 612px;
    background-position: bottom center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }
  }

  .intro__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 862px;
    padding-top: 31px;


    background-image: url("../img/traveller-illustration-tablet@1x.png");
    background-size: 372px 451px;
    background-position: bottom 140px right 110px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png");
    }
  }

  .intro__menu {
    display: none;
  }

  .intro__slogan {
    width: 400px;
    min-height: 185px;
    margin: 0 auto;
    margin-bottom: 86px;
    padding: 0;

    background-image: none;
  }

  .intro__review {
    width: 295px;
    margin-bottom: auto;
    padding-left: 34px;
  }

  .intro__steps-list {
    margin-bottom: -140px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-image: url("../img/globe-back-desktop@1x.jpg");
    background-color: #161c36;
    background-size: auto 750px;
    background-position: bottom center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
    }
  }

  .intro__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 652px;
    padding-top: 109px;
    padding-bottom: 125px;

    background-image: url("../img/traveller-illustration-desktop@1x.png");
    background-size: 431px 640px;
    background-position: bottom 1px right 405px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-desktop@2x.png");
    }
  }

  .intro__slogan {
    width: 465px;
    min-height: auto;
    margin: 0;
    padding-top: 0;
    padding-left: 67px;

    background-image: none;
  }

  .intro__review {
    width: 286px;
    margin-bottom: 0;
    padding: 0;
    padding-top: 12px;
  }

  .intro__steps-list {
    margin-bottom: 0;
  }
}
