.intro {
  color: #ffffff;
  background-color: $color-dark-blue;
}

.intro__menu {
  display: flex;
  min-height: 40px;
}

.intro__contacts {
  display: flex;

  margin-top: -20px;
}

.intro__user-list {
  @include list-reset;
  width: 100%;
  margin-top: -20px;
}

.intro__review {
  margin: 0 auto;
  padding-left: 25px + 23px;
  padding-right: 25px + 85px;
  padding-bottom: 29px;
}

.intro__steps-list {
  @include list-reset;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .intro__menu {
    display: none;
  }
}
