.main-nav {
  padding-top: 50px;
  padding-bottom: 50px;

  /* Временные стили */
  outline: 1px solid black;
}

.main-nav__site-list {
  @include list-reset;
  margin-bottom: 50px;
  /* Временные стили */
  outline: 1px solid black;
}

.main-nav__user-list {
  @include list-reset;
  margin-bottom: 30px;

  /* Временные стили */
  outline: 1px solid black;
}

.main-nav__contacts {
  /* Временные стили */
  outline: 1px solid black;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 55px;
    padding-left: 55px;
  }

  .main-nav__site-list {
    margin-bottom: 145px;
  }

  .main-nav__user-list {
    position: absolute;
    top: 40px;
    right: 40px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    flex-direction: row;
    align-items: center;
    min-height: 52px;
    padding: 0;
  }

  .main-nav__site-list {
    margin: 0;
  }

  .main-nav__user-list {
    position: static;

    order: 1;
    margin-bottom: 0;
  }
}
