.main-nav {
  margin-bottom: 30px;
  padding-top: 44px;
}

.main-nav__site-list {
  @include list-reset;
  margin-bottom: 50px;
}

.main-nav__user-list {
  @include list-reset;
  margin-bottom: 50px;
}

.main-nav__contacts-text,
.main-nav__contacts-link:hover .main-nav__contacts-text {
  color: #161c35;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 57px;
  }

  .main-nav__site-list {
    margin-bottom: 130px;
  }

  .main-nav__user-list {
    position: absolute;
    top: -92px;
    right: 40px;
  }

  .main-nav__contacts-text {
    margin-bottom: -7px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    min-height: 52px;
    margin: 0;
    padding: 0;
    padding-left: 105px;
  }

  .main-nav__site-list {
    margin: 0;
    margin-right: auto;
  }

  .main-nav__user-list {
    position: static;

    order: 1;
    margin-bottom: 0;
  }

  .main-nav__contacts {
    display: flex;
    flex-direction: row;
  }

  .main-nav__contacts-link {
    &:hover .main-nav__contacts-icon-wrapper--phone {
      background-color: #f26926;
    }

    &:hover .main-nav__contacts-icon-wrapper--email {
      background-color: #ff8d30;
    }

    &:active {
      opacity: 1;
    }

    &:active .main-nav__contacts-icon-wrapper::before {
      opacity: 0.3;
    }

    &:active .main-nav__contacts-icon-wrapper--phone {
      background-color: #f26926;
    }

    &:active .main-nav__contacts-icon-wrapper--email {
      background-color: #ff8d30;
    }
  }

  .main-nav__contacts-icon-wrapper {
    position: relative;

    width: 50px;
    height: 50px;
    margin-right: 0;

    &--phone {
      background-color: #ff8d30;
    }

    &--email {
      background-color: #ffbd30;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;

      width: 50px;
      height: 50px;

      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: 50%;
    }

    &--phone::before {
      background-image: url("../img/topmenu-phone.svg");
    }

    &--email::before {
      background-image: url("../img/topmenu-mail.svg");
    }
  }

  .main-nav__contacts-icon {
    display: none;
  }

  .main-nav__contacts-text {
    display: none;
  }
}
