.page-footer__wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Временные стили */
  outline: 1px solid black;
}

.page-footer__logo {
  display: block;
  width: 100px;
  margin-bottom: 12px;
  padding-top: 27px;
  padding-bottom: 27px;

  /* Временные стили */
  outline: 1px solid black;
}

.page-footer__logo-img {
  display: block;
}

.page-footer__social {
  @include list-reset;
  display: flex;
  margin-bottom: 35px;


  /* Временные стили */
  outline: 1px solid black;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;

  /* Временные стили */
  outline: 1px solid black;
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 154px;
  }

  .page-footer__wraper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 154px;
  }

  .page-footer__logo {
    margin-bottom: 0;
    margin-right: auto;
  }

  .page-footer__social {
    margin-bottom: 0;
  }

  .page-footer__copyright {
    width: 155px;
    margin-left: auto;
  }
}
