.page-footer {
  position: relative;
  z-index: 1;
  margin-top: -25px;

  border-radius: 25px 25px 0 0;
  background-color: #ffffff;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 15px;
}

.page-footer__logo {
  display: block;
  width: 100px;
  margin-bottom: 39px;
}

.page-footer__logo-img {
  display: block;
}

.page-footer__social {
  @include list-reset;
  display: flex;
  margin-bottom: 37px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding-top: 3px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $color-grey;

  border-top: 1px solid rgba(#000000, 0.05);

  &:hover,
  &:hover .page-footer__copyright-logo {
    opacity: 0.6;
  }

  &:active,
  &:active .page-footer__copyright-logo {
    opacity: 0.3;
  }
}

.page-footer__copyright-logo {
  width: 27px;
  height: 34px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: -60px;
    border-radius: 60px 60px 0 0;
  }

  .page-footer__container {
    flex-direction: row;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 46px;
  }

  .page-footer__logo {
    width: 164px;
    height: 42px;
    margin-bottom: 0;
    margin-right: 90px;
  }

  .page-footer__logo-img {
    width: 164px;
    height: 42px;
  }

  .page-footer__social {
    margin-bottom: 0;
  }

  .page-footer__copyright {
    width: 155px;
    margin-left: auto;
    padding-top: 0;

    font-size: 20px;
    line-height: 24px;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    justify-content: flex-start;
  }

  .page-footer__logo {
    width: 198px;
    height: 52px;
    margin-right: 370px;
  }

  .page-footer__logo-img {
    width: 198px;
    height: 52px;
  }
}
