.paginator {
  @include list-reset;
  display: flex;
  width: 100%;
  min-height: 50px;

  border-radius: 18px;
  background-color: #ffffff;
}

.paginator__pages-list {
  display: none;
}

.paginator__link {
  display: block;
  width: 135px;
  min-height: 50px;


  &--prev {
    border-radius: 18px 0 0 18px;
  }

  &--next {
    border-radius: 0 18px 18px 0;
    border-left: 1px solid $color-light-grey;
  }
}

@media (min-width: $tablet-width) {
  .paginator {
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding-left: 28px;
    padding-right: 24px;
  }

  .paginator__item {
    &:first-child {
      margin-right: auto;
    }

    &--prev {
      margin-right: 11px;
    }
  }

  .paginator__pages-list {
    @include list-reset;
    display: flex;
  }

  .paginator__pages-item {
    line-height: 0;
  }

  .paginator__pages-link {
    display: block;
    width: 50px;
    padding-top: 12px;
    padding-bottom: 8px;

    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #161c35;
    text-align: center;

    border-radius: 50%;
    background-color: transparent;

    &:hover {
      color: rgba(#161c35, 0.6);
    }

    &:active {
      color: #161c35;
      background-color: #ffd74b;
    }

    &--active {
      background-color: #ffd74b;
    }

    &--active:hover {
      color: #161c35;
    }
  }

  .paginator__link {
    position: relative;

    width: 32px;
    height: 32px;

    border: none;
    border-radius: 0;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;

      width: 0;
      height: 0;

      border-style: solid;
      border-width: 10px 10px 10px 0;

      transform: translate(-50%, -50%);
    }

    &--prev::before {
      border-width: 10px 10px 10px 0;
      border-color: transparent #192144 transparent transparent;
    }

    // &--prev:hover::before {
    //   border-color: transparent rgba(#192144, 0.6) transparent transparent;
    // }

    &--next::before {
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent #192144;
    }

    &:hover::before {
      opacity: 0.6;
    }

    &:active::before {
      opacity: 0.3;
    }
  }
}
