.plans {
  margin-top: -22px;

  background-color: #dfe3f0;
  border-radius: 20px 20px 0 0;
}

.plans__container {
  display: flex;
  flex-direction: column;

  padding-top: 28px;
  padding-bottom: 55px;
}

.plans__heading {
  margin: 0;
  margin-bottom: 29px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #1d2e5b;
}

.plans__list {
  @include list-reset;
  counter-reset: steps-list;
}

.plans__item {
  display: flex;
  flex-direction: column;
  min-height: 154px;
  margin-bottom: 10px;
  padding: 24px;
  padding-bottom: 21px;

  background-color: #ffffff;
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.plans__item-heading {
  position: relative;

  margin: 0;
  margin-bottom: 20px;
  padding-left: 17px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #1d2e5b;

  &::before {
    position: absolute;
    counter-increment: steps-list;
    content: counter(steps-list) ".";
    top: 0;
    left: 0;
  }
}

.plans__item-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.plans__companions-counter {
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.plans__dates {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.plans__link {
  align-self: flex-start;
  margin-top: auto;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: rgba(#000000, 0.3);
  text-transform: uppercase;
  letter-spacing: 1.4px;

  &:hover {
    color: rgba(#000000, 0.6);
  }

  &:active {
    color: rgba(#000000, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .plans__container {
    padding-top: 49px;
    padding-bottom: 100px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .plans__heading {
    margin-bottom: 41px;

    font-size: 36px;
    line-height: 50px;
  }

  .plans__item {
    position: relative;

    min-height: 152px;
    padding: 0;
    padding-top: 27px;
  }

  .plans__item-heading {
    position: static;
    padding-left: 36px;

    font-size: 24px;
    line-height: 50px;

    &::before {
      top: 43px;
      left: auto;
      right: 31px;

      font-size: 20px;
      line-height: 20px;
      font-weight: 500;
    }
  }

  .plans__item-wrapper {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow: 0;
    padding-top: 20px;
    padding-left: 33px;
    padding-right: 33px;

    border-top: 1px solid #eff0f4;
  }

  .plans__companions-counter {
    margin-bottom: 0;
    margin-right: auto;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1.8px;
  }

  .plans__dates {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  .plans__link {
    margin-top: 0;
    margin-left: 81px;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1.9px;
  }
}
