.review__main {
  margin: 0;
  margin-top: 6px;
  margin-bottom: 17px;

  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 300;
}

.review__author {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 700;
}

.review__cite {
  font-style: normal;
}
