.review__main {
  margin: 0;
  margin-bottom: 18px;

  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 300;
}

.review__author {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 700;
}

.review__cite {
  font-style: normal;
  text-transform: lowercase;
}

@media (min-width: $tablet-width) {
  .review__main {
    margin-bottom: 43px;

    font-size: 28px;
    line-height: 33px;
  }

  .review__author {
    font-size: 21px;
    line-height: 25px;
  }
}
