.site-list__item {
  display: block;
}

.site-list__link {
  display: block;

  font-size: 30px;
  line-height: 36px;
  color: $color-dark-blue;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .site-list__item {

    &:last-child {
      margin-bottom: 0;
    }
  }

  .site-list__link {
    font-size: 60px;
    line-height: 71px;
    letter-spacing: -0.6px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    flex-direction: row;
    margin-bottom: -5px;
  }

  .site-list__item {
    margin-bottom: 0;
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-list__link {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0;

    &:hover {
      color: #ffd74b;
    }

    &:active {
      color: rgba(#ffd74b, 0.3);
    }
  }
}
