.site-list__item {
  display: block;
}

.site-list__link {
  display: block;

  font-size: 30px;
  line-height: 36px;
  color: $color-dark-blue;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    color: rgba($color-dark-blue, 0.7);
  }

  &:active {
    color: rgba($color-dark-blue, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .site-list__item {
    // margin-bottom: px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .site-list__link {
    font-size: 60px;
    line-height: 71px;
    letter-spacing: -0.6px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    flex-direction: row;
  }

  .site-list__item {
    margin-bottom: 0;
  }
}
