.social__item {
  display: block;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  width: 45px;
  height: 45px;

  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--fb {
    background-image: url("../img/facebook.svg");
    background-size: 11px 21px;
  }

  &--vk {
    background-image: url("../img/vk.svg");
    background-size: 23px 12px;
  }

  &--instagram {
    background-image: url("../img/instagram.svg");
    background-size: 18px 18px;
  }

  &--bg-yellow {
    background-color: #ffd74b;
    border-radius: 50%;
  }

  &--bg-yellow:hover {
    background-color: #ffbd30;
  }

  &--bg-yellow:active {
    background-color: #ffbd30;
  }
}

@media (min-width: $tablet-width) {
  .social__item {
    // margin-right: 20px;
  }

  .social__link {
    width: 60px;
      height: 60px;
    &--fb {
      background-size: 14px 28px;
    }

    &--vk {
      background-size: 31px 16px;
    }

    &--instagram {
      background-size: 24px 24px;
    }

    &--bg-yellow {
      width: 60px;
      height: 60px;
    }
  }
}
